.traffic {
    background: black;
    display: inline-block;
    padding: 10px;
    margin: auto;
    border-radius: 6px;
}

.light {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 8px;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.glow {
    box-shadow:
        0 0 20px 10px #fff,
        0 0 40px 20px rgb(238, 254, 121),
        0 0 60px 30px rgb(252, 255, 96);
}